body {
    font-family: sans-serif;
    background: #ece2da;
    color: #455f81;
}

h2{
    font-size: 15px;
    margin: 5px;
}

canvas {
    display: none;
}

#kokoko, #animation {
    -webkit-box-shadow: 0px 0px 18px 9px rgba(34, 60, 80, 0.11);
    -moz-box-shadow: 0px 0px 18px 9px rgba(34, 60, 80, 0.11);
    box-shadow: 0px 0px 18px 9px rgba(34, 60, 80, 0.11);
    height: 192px;
    background: transparent;
    display: block;
}

#animation {
    width: 32px;
}
#makers {
    margin-top: 20px;
    display: flex;
    gap: 30px;
    font-size: 32px;
    div {
        border-radius: 10px;
        border: 1px solid #455f81;
        padding: 0 10px;
        cursor: pointer;
    }
}
.with_preview {
    display: flex;
}

#controls canvas {
    display: inline-block;
}

#controls .preview_container canvas {
    display: inline-block;
}

#controls .preview_container:nth-child(13),
#controls .preview_container:nth-child(14){
    display: block;
}

.color_control {
    display: inline-block;
    width: 20px;
    height: 20px;
    padding: 3px;
    margin-right: 5px;
    border-radius: 3px;
    background-clip: content-box;
}

.container{
    display: flex;
}

#test_button{
    width: 100%
}

.color_control.active, .preview_container canvas.active{
    border: 1px solid white;
}

.hidden_control {
    display: none;
}

#previews {
    display: flex;
    flex-wrap: wrap;
}
.preview_container{
    width: 20%;
}

#spriteName {
    width: 120px;
    margin-top: 20px;
    padding: 8px 12px;
    border: 2px solid #ced4da;
    border-radius: 4px;
    font-size: 16px;
    line-height: 1.5;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    margin-right: 10px;
}

#spriteName:focus {
    border-color: #86b7fe;
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
}

.btn{
    margin-top: 20px;
    padding: 8px 16px;
    font-size: 16px;
    font-weight: 500;
    color: #fff;
    background-color: #455f81;
    border: 1px solid #455f81;
    border-radius: 4px;
    cursor: pointer;
    transition: color 0.15s ease-in-out, 
                background-color 0.15s ease-in-out,
                border-color 0.15s ease-in-out,
                box-shadow 0.15s ease-in-out;
}

.btn:hover {
    background-color: #0b5ed7;
    border-color: #0a58ca;
}

.btn:active {
    background-color: #455f81;
    border-color: #455f81;
    box-shadow: 0 0 0 0.25rem rgba(49, 132, 253, 0.5);
}

.crossed-square {
    border: 2px solid #ff0000;
    position: relative;
    padding: 0;
    width: 18px;
    height: 18px;
    margin-bottom: 2px;
  }
  
  /* Линия, перечёркивающая квадрат по диагонали */
  .crossed-square::before {
    content: "";
    position: absolute;
    top: -1px;
    left: 0;
    width: 25px;
    height: 2px; /* Толщина линии */
    background-color: #f00; /* Чёрная линия */
    transform: rotate(45deg);
    transform-origin: 0 0;
  }

  @media (max-width: 768px) {
    #previews {
        margin-left: 10px;
        height: 500px;
        overflow: scroll;
    }
    .preview_container {
        min-width: 175px;
    }
  }
